body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f5f8fa;
}

@media (max-width: 480px) {
  header {
position: fixed;
  top: 0;   
  left: 0;        
  width: 100vw;      
  background: #FEACD8;
  color: white;
  text-align: center;
  padding: 15px 0;
  z-index: 1000;      
  box-sizing: border-box;
  }
}

main {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 60px;
}

#post-input {
  width: 100%;
  height: 80px;
  font-size: 16px;
  margin: 0;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 0px;
  font-size: 16px;
}

.image-button {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background: none;
  margin: 0;
}

.image-button img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.line-below-btn {
  height: 1px;           
  background-color: #C8D4DB;
  margin-top: 0px;       
  max-width: 480px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.line-wrapper {
  position: relative;
  text-align: center; /* 文字を中央寄せ */
  margin: 20px 0;
}

.timeline-text {
  position: absolute;
  bottom: 100%;      /* 線の上に表示 */
  left: 50%;
  transform: translateX(-50%);
  background: #f5f8fa;  /* 背景を線と同じ色にして被らないように */
  padding: 0 5px;       /* 文字の周りに余白 */
  font-weight: bold;

.line-below-btn::before {
  content: "";                /* 疑似要素必須 */
  position: absolute;
  top: 0px;                  /* 下線に密着させる */
  left: 50%;                 /* 左から少し内側 */
  transform: translateX(-50%);
  width: 100px;                /* 線の長さ */
  height: 10px;                /* 線の太さ */
  background-color: #FF1D8D;
}

.post-card {
  background: white;
  border-radius: 12px;
  padding: 12px;
  margin-top: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
