body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f5f8fa;
}

@media (max-width: 480px) {
  header {
position: fixed;
  top: 0;   
  left: 0;        
  width: 100vw;      
  background: #FEACD8;
  color: white;
  text-align: center;
  padding: 15px 0;
  z-index: 1000;      
  box-sizing: border-box;
  }
}

main {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 60px;
}

#post-input {
  width: 100%;
  height: 80px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 0px;
  font-size: 16px;
}

.image-button {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.image-button img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.line-below-btn {
  height: 1px;           
  background-color: #C8D4DB;
  margin-top: 0px;       
  width: 100%;     
}

.post-card {
  background: white;
  border-radius: 12px;
  padding: 12px;
  margin-top: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
