body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f5f8fa;
}

header {
  background: ##FEACD8;
  color: white;
  text-align: center;
  padding: 12px;
   max-width: 480px;
  margin: 0 auto;
}

main {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px;
}

#post-input {
  width: 100%;
  height: 80px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  font-size: 16px;
}

.image-button {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background: none;
}

.image-button img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}


.post-card {
  background: white;
  border-radius: 12px;
  padding: 12px;
  margin-top: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
